<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587097641303-fin8fc7irf43b41f4d15sq7lspcf5ude.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587097641303-fin8fc7irf43b41f4d15sq7lspcf5ude</string>
	<key>API_KEY</key>
	<string>AIzaSyBK5rykGMTYy10kSJKbycStodfkEsbbp8s</string>
	<key>GCM_SENDER_ID</key>
	<string>587097641303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TonyWang.Class</string>
	<key>PROJECT_ID</key>
	<string>class-fafe1</string>
	<key>STORAGE_BUCKET</key>
	<string>class-fafe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587097641303:ios:b696394400da7546</string>
	<key>DATABASE_URL</key>
	<string>https://class-fafe1.firebaseio.com</string>
</dict>
</plist>
